/* Highlight reply count */
/* This is a general attempt; we might need to be more specific with classes */

/* Target the reply count container. 
   Slack classes are dynamic, but often have stable parts or we can target by attribute.
   "c-message__reply_count" has been historically used, but might have changed.
   We will also use a data attribute selector if possible in content.js to add a class.
*/

.slack-enhancer-reply-highlight {
    background-color: #FFEBEE !important;
    border-radius: 4px !important;
    box-shadow: 0 0 0 2px #FF5252 inset !important;
    color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    text-decoration: inherit !important;
}
